---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}

{% for post in site.projects reversed %}
  <div class="project-list">
    <div class="card h-100 d-flex flex-column justify-content-between">
      <img class="card-img-top mx-auto" src="">
      <div class="card-body d-flex flex-column">
      <h4 class="card-title"> {{ post.title }} </h4>
      <p class="card-text"> {{ post.excerpt }}. </p>
      </div>

      <div class="card-footer mt-auto text-center">
        <hr style="height:0.8px;border:none;color:#333;background-color:#333;">
        <div class="card-buttons">
        <a href="https://trushant-adeshara-um.github.io" target="_blank" class="btn btn-primary" text-center>
          <i class="fab fa-solid fa-github" aria-hidden="true"></i>
        </a>
      </div>
      <div class="text-muted"> Skill 1, Skill 2, Skill 3</div>
    </div>
  </div>



  {% include archive-single.html %}
{% endfor %}
