---
layout: archive
title: "Talks and Workshops"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
<div class="writing-list">
  <div class="card-container">
    <a href="https://trushant-adeshara-um.github.io"></a>
    <div class="float-layout">
      <div class="writing-card-image">
      <img src="/images/talks/20190725/20190725_1.jpg">
        <div class="writing-card-content">
          <div class="writing-card-title">
            This is an experiment
            {{ post.title }}
            Try percent
          </div>
          <div class="writing-card-text">
            I am trying a better way to represent talks...
          </div>
          <div class="writing-card-text-muted">
            25 July 2019
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}


{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
