---
layout: archive
permalink: /year-archive/
title: "Blog posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %} 
<div class="writing-list">
  <div class="card-container">
    <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
    <div class="float-layout">
      <div class="writing-card-image">
      <img src="{{ post.date | date: "%Y%m%d/" | prepend: "/images/blogs/"}}{{ post.date | date: "%Y%m%d_1.jpg" }}">
        <div class="writing-card-content">
          <div class="writing-card-title">
            {{ post.title }}
          </div>
          <div class="writing-card-text">
            {{ post.excerpt | markdownify }} 
          </div>
          <div class="writing-card-text-muted">
            {{ post.date | date: '%B %d, %Y' }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
