---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

:root{
  --border-gradient-onyx: linear-gradient(
    to bottom right,
    hsl(0, 0%, 25%) 0%,
    hsla(0, 0%, 25%, 0) 50%
  );
}

.card {
  width: 23rem;
  height: 23rem; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: 0.5s;
  background: white;
  padding: 15px;
  padding-top: 15px;
  border-radius: 3px;
}

.card-deck {
  margin-bottom: 1.5rem;
  display: block;
}

.card img {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 3px; /* 5px rounded corners */
}

.card-img-top {
  display: block;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .75em;
}

.card .btn {
  font-size: .75rem;
  margin-right: .75em;
  margin-bottom: .75em;
}

.card-title {
  font-weight: 750;
  font-size: 1.1rem;
  margin-bottom: .5rem;
  margin-top: 10px;
}

.card-text {
  font-size: .75rem;
  margin-left: auto;
  margin-right: auto;
}

.text-muted {
  font-size: .7rem;
  margin-left: auto;
  margin-right: auto;
}

.card-buttons {
  padding-left: 1.25rem;
  padding-bottom: .5rem;
}

.card-footer {
  font-size: .75rem;
  align-self: flex-end;
  flex: 1 1 auto;
  padding-top: .5rem;
}

.project-list {
  display: flex;
  gap: 10px 20px; /* row-gap column gap */
  flex-flow: row wrap;
  justify-content: space-around;
  padding-bottom: 50px;
}

.btn-primary {
  color: red;
  border-color: #c0c0c0;
  background-color: #0072b1;
  width: 45px;
  justify-content: center;
  align-items: center;
  margin-right: 10.75rem;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary:focus, .btn-primary.focus {
  color: white;
  border-color: #202020;
  background-color: #c0c0c0;
}

.book-card {
  width: 11rem;
  height: 16rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: 0.5s;
  background: white;
  padding: 15px;
  padding-top: 15px;
  border-radius: 3px;
}

.book-card-img-top {
  display: block;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .75em;
}

.book-card-img-top:hover, .book-card-img-top:active, .book-card-img-top.active, .book-card-img-top:focus, .book-card-img-top.focus {
  color: white;
  border-color: #202020;
  background-color: #c0c0c0;
}

.book-gallery {
  display: flex;
  gap: 10px;
  row-gap: 30px;
  column-gap: 30px;
  flex-flow: row wrap;
  justify-content: left;
  padding-bottom:50px;
}

.book-card-title {
  font-weight: 550;
  font-size: 0.78rem;
  margin-left: auto;
  margin-right: auto;
}





.writing-list {
  display: flex;
  padding-top:10px;
  gap: 10px;
  row-gap: 40px;
  flex-flow: row wrap;
  justify-content: left;
  padding-bottom:30px;
}

.float-layout {
  padding: 5px 5px;
  float: left;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin: 0;
}

.card-container {
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: 0.5s;
  background: white;
  padding: 15px;
  padding-top: 15px;
  border-radius: 3px;
  position: relative;
}

.card-container a{
  position: absolute;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
}

.writing-card-content {
  min-height: 8rem;
  width: 75%;
  float: right;
  border-left: 1px solid;
}

.writing-card-image {
  display: flex;
}

div.writing-card-image img {
  width: 70%;
  height: auto;
  max-height: 7.5rem;
  max-width: 20%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.writing-card-title {
  padding-left: 15px;
  font-weight: 750;
  font-size: 1.1rem;
  margin-bottom: .5rem;
  margin-top: 10px;
}

.writing-card-text {
  padding-left: 15px;
  font-size: .75rem;
  margin-bottom: 1rem;
}

.writing-card-text-muted {
  padding-left: 15px;
  font-size: .7rem;
  margin-left: auto;
  margin-right: auto;
}
